.questionAnswer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questionAnswer button{
    background-color: goldenrod;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;

}